# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
tfplan
plan.txt
response.json

# Node / Angular
node_modules/
dist/

# Maven (lambda-login)
target/

# Docker
*.env

# OS
.DS_Store

# draft and notes
draft.md